<section class="phx-hero">
  <h1><%= gettext "Welcome to New Twitter using Elixir and Phoenix!", name: "Phoenix" %></h1>
</section>

<h3>Opening up this page starts the simulator with 500 users sending 8 tweets and then getting offline</h1>
